In [45]:
# Import libraries
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
from sklearn import tree
from sklearn.metrics import confusion_matrix,accuracy_score,roc_curve
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import KFold,cross_val_score,train_test_split

In [46]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [47]:

X = train
y = train.pop("Survived")

In [48]:

# Check for missing values
X.count()

PassengerId    891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [49]:
# Impute missing values
X["Age"].fillna(X.Age.mean(), inplace = True)

In [50]:
X.count()

PassengerId    891
Pclass         891
Name           891
Sex            891
Age            891
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [51]:
numeric_features = X[['Fare', 'Pclass', 'Age']]

In [52]:
median_features = numeric_features.dropna().median()
imputed_features = numeric_features.fillna(median_features)
features_array = imputed_features.values

In [53]:
from sklearn.cross_validation import train_test_split

features_train, features_test, target_train, target_test = train_test_split(
    features_array, y, test_size=0.20, random_state=0)

In [54]:
rf = RandomForestClassifier(n_estimators=200, min_samples_leaf=3, oob_score= True,n_jobs=-1, random_state = 32)
rf.fit(numeric_features,y)
target_predicted = rf.predict(features_test)
from sklearn.metrics import accuracy_score
accuracy_score(target_test, target_predicted)

0.86592178770949724